:root {
    --color: #c5c5c5;
    --color1: #0a191e;
    --color11: #09b5cf;
}

.main {
    width: 300px;
    height: 500p;
    background-color: var(--color);

    margin: auto;
    margin-top: 100px;
}

.pantalla {
    font-size: 50px;

}